#home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-width: 800px;
  height: 500px;
}
#home-container img {
  width: 1216px;
  height: 600px;
}
#home-page-image {
  width: 1216px;
  height: 600px;
}
#trending-container {
  display: flex;
  justify-content: center;
  width: Hug (1, 232px) px;
  height: Hug (320px) px;
  gap: 20px;
  opacity: 0px;
}
#trending-container img {
  width: 289px;
  height: 320px;
  margin-top: 30px;
}
h1 {
  margin-top: 50px;
}
#blog-post-container {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 30px;
}
#blog-post-container p {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  color: #495057;
}
.pic-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

.pic-container img {
  width: 360px;
  height: 240px;
  gap: 0px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
}
.pic-container p {
  width: Hug (97px) px;
  height: Hug (28px) px;
  padding: 4px 10px 4px 10px;
  gap: 4px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
  /* background-color: #4b6bfb0d; */
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  margin-top: 15px;
  color: #4b6bfb;
}
.pic-container h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 50px;
}
.pic-container a {
  color: #97989f;
}
#pic-small-container {
  width: Fixed (392px) px;
  height: Hug (592px) px;
  padding: 16px 0px 0px 0px;
  gap: 16px;
  border-radius: 12px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: aquamarine;
}
#load-container {
  display: flex;
  justify-content: center;
}
#load-container button {
  color: #696a754d;
  width: 83px;
  height: 24px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}
